/* importation de la police 'Poppins' de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html, body{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: #a04949;
   color: #ffffff;
}

nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 16px 32px;
   box-shadow: 0px 0px 11px 4px rgba(255, 255, 255, 0.1);
   background-color: rgb(154, 43, 43);
   position: sticky;
   top: 0;
   z-index: 1000;
}

header{
   
}

n{
   display: flex;
   gap: 16px;
   list-style: none;
   padding: 0;
   margin: 0;
}

Img{
   display: flex;
   gap: 22px;
   align-items: center;
   color: #ffffff;
  
   border-radius: 15px;
}



main{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 68px 32px;
} 


